div {
  width: 20vw;
  height: 20vw;
  max-height: 9vh;
  max-width: 9vh;
  background-color: rgb(182, 182, 182);
  border-radius: 15%;
  margin: min(5vw, calc(9vh / 4));
  margin-left: auto;
  margin-right: auto;
  line-height: min(20vw, 9vh);
  font-size: 2rem;
}

.red {
  background-color: #eb202083;
}
.yellow {
  background-color: #ebeb0a79;
}
.green {
  background-color: #1e991e85;
}
.blue {
  background-color: rgba(56, 56, 189, 0.527);
}
