div {
  width: 20vw;
  height: 20vw;
  background-color: rgb(182, 182, 182);
  border-radius: 15%;
  margin: 5vw;
  margin-left: auto;
  margin-right: auto;
  line-height: 20vw;
  font-size: 2rem;
}

.red {
  background-color: #eb202083;
}
.yellow {
  background-color: #ebeb0a79;
}
.green {
  background-color: #1e991e85;
}
.blue {
  background-color: rgba(56, 56, 189, 0.527);
}
