<h1 mat-dialog-title>Multiplayer beitreten.</h1>
<div mat-dialog-content>
  <p>Gebe die Multiplayer Id ein!</p>
  <mat-form-field appearance="fill">
    <mat-label>Multiplayer Id</mat-label>
    <input matInput [(ngModel)]="data.id" />
  </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="create">
  <button mat-button color="primary" [mat-dialog-close]="{'id': data.id, 'createLobby': true}" cdkFocusInitial>Lobby erstellen</button>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()">Zurück</button>
  <button mat-button [mat-dialog-close]="{'id': data.id, 'createLobby': false}" cdkFocusInitial>Ok</button>
</div>
