#diceRoller {
  width: 100vw;
  text-align: center;
  vertical-align: center;
  padding-top: 5vh;
  padding-bottom: 10vh;
  height: 80vh;
}

button {
  margin-top: 5vw;
}

#multiplayer {
  position: absolute;
  margin: 0;
  top: 5vw;
  right: 5vw;
  float: right;
}

#root {
  position: absolute;
  margin: 0;
  top: 15vw;
  right: 5vw;
  float: right;
}
