app-row {
  width: 100vw;
  margin: 0;
  padding: 0;
}
span {
  position: absolute;
  z-index: 1;
}

#landscape {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#portrait {
  max-height: 70vh;
}

p {
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
}

@media screen and (orientation: portrait) {
  #landscape {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  #portrait {
    display: none;
  }
}
