.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #eb202083;
}
.yellow {
  background-color: #ebeb0a83;
}
.green {
  background-color: #1e991e83;
}
.blue {
  background-color: #1941af83;
}

button {
  background-color: rgba(255, 255, 255, 0.685);
  width: 100px;
  height: 3em;
  margin: 7.5px;
  min-width: 5px;
  font-size: 1.1em;
}

.clicked {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 1.2em;
  transition: 0.2s;
}
.clicked::before {
  content: "X";
  position: absolute;
  font-weight: 100;
  font-size: 250%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unused {
  font-weight: lighter;
  color: rgb(85, 85, 85);
}
.unused::before {
  content: "—";
  position: absolute;
  font-weight: 100;
  font-size: 250%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
