.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #eb2020;
}
.yellow {
  background-color: #ebeb0a;
}
.green {
  background-color: #1e991e;
}
.blue {
  background-color: rgb(56, 56, 189);
}

button {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100px;
  height: 3em;
  margin: 7.5px;
  min-width: 5px;
  font-size: 1.1em;
}

.clicked {
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.2s;
}

.unused {
    font-weight: bold;
    text-decoration: line-through;
    color: rgb(85, 85, 85);
    font-size: 1em;
}