/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  position: fixed;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.red {
  background-color: #eb202083;
}
.yellow {
  background-color: #ebeb0a79;
}
.green {
  background-color: #1e991e85;
}
.blue {
  background-color: rgba(56, 56, 189, 0.527);
}
